<!-- <StackLayout height="290" style="background-color: #363e50" marginBottom="12"> -->
<!-- this is the header for collapsing --->
<!-- Note: this can be any type of layout you want -->



<StackLayout style="background-color:#f5f5f5">

    <StackLayout id="secondstack">
        <StackLayout style="background-color:#363e50">

            <!-- <Label text="LMS" color="#FCFDFD" textAlignment="center" fontSize="18" marginTop="15"></Label> -->

            <FlexboxLayout color="white" height="65" orientation="horizontal" flexWrap="wrap" justifyContent="space-between" marginLeft="12" marginRight="12"
                alignItems="center" marginBottom="16">
                <Image src="res://ic_menu" style="width:20;height:20;" marginRight="16" (tap)="onMenuclicked()"></Image>
                <Label text="LMS"></Label>
                <Image src="res://ic_bell" style="width:20;height:20;" marginLeft="16" (tap)="onBellIconClicked()"></Image>

            </FlexboxLayout>

        </StackLayout>
        <!-- <StackLayout id="stick1" class="view3disable" height="40" style="background-color: green; margin-left: 13% ; margin-right: 13% ; border-radius:100%;"
            orientation="horizontal" marginTop="-20">
            <Label text="Approved" color="white" marginLeft="24" marginTop="8"></Label>
            <Label text="|" color="#e8e8e8" textAlignment="center" marginTop="8" marginLeft="20%"></Label>
            <Label text="Applied" color="#e8e8e8" marginLeft="52" marginTop="8"></Label>
        </StackLayout> -->
        <FlexboxLayout color="white" id="stick1" class="stick" height="40" style="background-color: green; margin-left: 13% ; margin-right: 13% ;  border-radius:100%;"
            orientation="horizontal" marginTop="-22" flexWrap="wrap" justifyContent="space-around" alignItems="center">
            <Label text="Approved" (tap)="onApprovedClick($event)" id="approve" class="enabledcolor"></Label>
            <Label text="|"></Label>
            <Label text="Applied    " (tap)="onAppliedClicked($event)" id="applie" class="disabledcolor"></Label>

        </FlexboxLayout>
    </StackLayout>

    <ScrollView orientation="vertical" #scrollView (scroll)="onScroll($event, scrollView, topView)">

        <StackLayout id="topView">
            <StackLayout id="tohidesection" class="view3enable">
                <GridLayout columns="*,*" rows="*,*" width="100%" height="210" backgroundColor="#363e50">

                    <StackLayout col="0" row="0">
                        <Label text="Annual Leave" color="#FCFDFD" fontSize="16" marginLeft="54" marginTop=""></Label>
                        <Label text="10.00 days" color="#898E98" fontSize="20" marginLeft="52" marginTop="6"></Label>

                    </StackLayout>

                    <StackLayout col="1" row="0" style="">

                        <Label text="Sick Leave" color="#FCFDFD" fontSize="16" marginLeft="32" marginTop=""></Label>
                        <Label text="6.00 days" color="#898E98" fontSize="20" marginLeft="30" marginTop="6"></Label>

                    </StackLayout>

                    <StackLayout col="0" row="1">
                        <Label text="Compensatory" color="#FCFDFD" fontSize="16" marginLeft="50" marginTop=""></Label>
                        <Label text="3.00 days" color="#898E98" fontSize="20" marginLeft="52" marginTop="6"></Label>

                    </StackLayout>
                    <StackLayout col="1" row="1" style="">

                        <Label text="Casual Leave" color="#FCFDFD" fontSize="16" marginLeft="32" marginTop=""></Label>
                        <Label text="12.00 days" color="#898E98" fontSize="20" marginLeft="30" marginTop="6"></Label>

                    </StackLayout>
                </GridLayout>

                <FlexboxLayout flexDirection="row" color="white" class="stick" height="40" style="background-color: green; margin-left: 13% ; margin-right: 13% ;  border-radius:100%;"
                    orientation="horizontal" marginTop="-22" flexWrap="wrap" justifyContent="space-around" alignItems="center">
                    <Label text="Approved" (tap)="onApprovedClick($event)" id="approved" class="enabledcolor"></Label>
                    <Label text="|"></Label>
                    <Label text="Applied    " (tap)="onAppliedClicked($event)" id="applied" class="disabledcolor"></Label>

                </FlexboxLayout>
                <!--
                    <Label width="70" text="Approved" color="white" marginLeft="8" marginTop="8"></Label>
                    <Label width="70" text="       |" color="#e8e8e8" marginTop="8"></Label>
                    <Label width="70" text="Applied" color="#e8e8e8" marginTop="8"></Label>-->


            </StackLayout>

            <StackLayout>
                <!-- <ListView [items]="items" class="list-group" style="background-color: #363e50">
                <ng-template let-item="item">
                    <StackLayout>
                        <Label [nsRouterLink]="['/item', item.id]" [text]="item.name" class="list-group-item"></Label>
                    </StackLayout>
                </ng-template>
            </ListView> -->
                <!-- >> ngfor-bind-items-html -->
                <StackLayout>
                    <Label id="approved" [text]="approved" textwrap="true" fontSize="18" color="black" marginLeft="14" marginTop="16"
                        marginBottom="6"></Label>

                    <StackLayout>
                        <!-- <Label class="list-group-item" [text]="item.name"></Label> -->

                        <CardView *ngFor="let item of items" class="cardStyle" margin="5" elevation="2" radius="10">
                            <StackLayout class="card-layout" margin="10">
                                <!-- <Label class="h2" [text]="item.heading"></Label>
                                <Label class="body" textWrap="true" [text]="item.content"></Label> -->
                                <StackLayout orientation="horizontal" style="border-bottom-width: 1; border-bottom-color: #f5f5f5; "
                                    marginBottom="8">
                                    <Label class="h3" text="Casual Leave"></Label>
                                    <Label color="gray" text="09/07/2018" marginLeft="30%"></Label>
                                    <Image src="res://ic_float_menu" style="width:14;height:14;" marginLeft="13%" marginBottom="4"></Image>
                                </StackLayout>
                                <StackLayout orientation="horizontal">
                                    <Label class="h4" text="From:" marginTop="4"></Label>
                                    <Label color="gray" text="15/07/2014" marginTop="6" marginLeft="3" fontSize="11"></Label>
                                    <Label class="h4" text="To:" marginTop="4" marginLeft="4%"></Label>
                                    <Label color="gray" text="22/07/2014" marginTop="6" marginLeft="3" fontSize="11"></Label>
                                    <Label [text]="item.role" textStyle="bold" color="green" marginTop="4" marginLeft="28%"></Label>
                                </StackLayout>


                                <Label class="h4" textwrap="true" [text]="item.name" marginTop="6"></Label>
                            </StackLayout>
                        </CardView>

                    </StackLayout>

                </StackLayout>

                <!-- << ngfor-bind-items-html -->
            </StackLayout>


        </StackLayout>
    </ScrollView>
</StackLayout>

<AbsoluteLayout class="float-btn-containter" (tap)="onClickFab($event)">
    <float-btn text="+"> </float-btn>
    <!-- <float-btn (tap)="insert()" text="+"> </float-btn> -->
</AbsoluteLayout>